.container {
    width: 100%;
    height: 100%;
    margin-top: max(9vh , 80px );
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   
}

.sections {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;

}
.containerProducts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;

}
.PicsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}