@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: max(4vw , 40px);
    font-family: 'IM Fell Double Pica SC', serif;
}